.popup__calendar {
  display: -ms-grid;
  display: grid;
  grid-gap: 36px;
  overflow-x: auto;
  overflow-y: visible;
  width: 100%;
  -ms-overflow-style: none;
}

.popup__calendar::-webkit-scrollbar {
  display: none;
}

.calendar_month {
  width: 440px;
  padding-bottom: 36px;
}

.month__name {
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 12px;
}

.month__number {
  font-size: 16px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  padding-bottom: 8px;
}

.square {
  height: 56px;
  width: 56px;
  background-color: #F1F5F9;
  border-radius: 12px;
}

.square_empty {
  visibility: hidden;
}

.square__number {
  position: relative;
  right: -32px;
  bottom: -35px;
  width: 15px;
  text-align: right;
}

.square__indicator-1 {
  position: relative;
  right: -5px;
  top: -10px;
  height: 12px;
  width: 12px;
  background-color: #AA9FB5;
  border-radius: 3px;
}

.square__indicator-2 {
  position: relative;
  right: -5px;
  top: -16px;
  height: 12px;
  width: 12px;
  background-color: #D9E3F1;
  border-radius: 3px;
}