.popup__calendar {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  grid-gap: 36px;
  overflow-x: auto;
  overflow-y: visible;
  width: 100%;
  -ms-overflow-style: none;
}

.popup__calendar::-webkit-scrollbar {
  display: none;
}

.calendar_month {
  padding-bottom: 36px;
}

.month__name {
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 12px;
}

.month__number {
  font-size: 16px;
}

.month__numbers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 6px auto 6px auto 6px auto 6px auto 6px auto 6px auto;
  grid-template-columns: repeat(7, auto);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 6px;
}

.square {
  height: 56px;
  width: 56px;
  background-color: #F1F5F9;
  border-radius: 12px;
  position: relative;
  text-decoration: none;
}

.square_empty {
  visibility: hidden;
}

.square__number {
  position: absolute;
  right: 7px;
  bottom: 5px;
  width: 15px;
  text-align: right;
  color: black;
}

.square__indicator-1 {
  position: absolute;
  left: 7px;
  top: 5px;
  height: 12px;
  width: 12px;
  background-color: #AA9FB5;
  border-radius: 3px;
}

.square__indicator-2 {
  position: absolute;
  left: 7px;
  top: 12px;
  height: 12px;
  width: 12px;
  background-color: #D9E3F1;
  border-radius: 3px;
}

.calendar_month {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-visibility: hidden;
}

.calendar_month::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 560px) {
  .popup__calendar {
    display: -ms-grid;
    display: grid;
    grid-gap: 22px;
    overflow-x: auto;
    overflow-y: visible;
    width: 100%;
    -ms-overflow-style: none;
    cursor: auto;
  }
  .month__name {
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 12px;
  }
  .calendar_month {
    padding-bottom: 24px;
  }
  .square {
    height: 50px;
    width: 50px;
    background-color: #F1F5F9;
    border-radius: 12px;
    position: relative;
  }
  .square__number {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 15px;
    text-align: right;
    font-size: 14px;
  }
}