.popup__indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}

.indicator-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.indicator__square {
  width: 24px;
  height: 24px;
  border-radius: 6px;
}

.indicator-free {
  background-color: #AA9FB5;
}

.indicator-booked {
  background-color: #D9E3F1;
}

.indicator-occupied {
  background-color: #4E8698;
}

@media screen and (max-width: 560px) {
  .popup__indicators {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 12px;
  }
  .indicator-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8pxpx;
  }
  .indicator__square {
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }
}