header {
  padding-bottom: 105px;
}
header .wrapperedcontainer {
  background-color: #D9E3F1;
  padding: 0px 40px;
}
header .navbar {
  width: auto;
  max-width: 880px;
  margin: 0 auto;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .navbar__icon {
  width: 70px;
  height: 45px;
  background-color: #000000;
}
header .navbar__number {
  font-size: 18px;
}

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 85px;
  }
  header .navbar__number {
    font-size: 16px;
  }
}
@media screen and (max-width: 560px) {
  header {
    padding-bottom: 65px;
  }
  header .navbar__number {
    font-size: 14px;
  }
}