@use "../colors"
.popup__indicators
    display: flex
    gap:12px
.indicator-box
    display: flex
    gap:12px
.indicator__square
    width: 24px
    height: 24px
    border-radius: 6px
.indicator-free
    background-color: colors.$brand3
.indicator-booked
    background-color: colors.$brandPastel
.indicator-occupied
    background-color: colors.$brandContrast

