.consultations h2 {
  font-size: 40px;
  padding-bottom: 18px;
  font-weight: 500;
}
.consultations .apointment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}
.consultations .apointment .apointment__item {
  border-radius: 20px;
  background-color: #FFFFFF;
  min-height: 140px;
  width: 280px;
  padding-left: 20px;
  padding-top: 10px;
}
.consultations .apointment .apointment__item h3 {
  font-size: 24px;
  padding-bottom: 15px;
  font-weight: 500;
}
.consultations .apointment .apointment__item p {
  padding-bottom: 15px;
}
.consultations .apointment .apointment__item a {
  color: #F36868;
  text-decoration: none;
}