@use "../colors"
.consultations
    h2
        font-size: 40px
        padding-bottom:18px
        font-weight: 500
    .apointment
        display: flex
        gap: 18px
        .apointment__item
            border-radius:20px
            background-color: colors.$bgSecondary
            min-height: 140px
            heigth:auto
            width: 280px
            padding-left: 20px
            padding-top:10px
            h3
                font-size: 24px
                padding-bottom: 15px
                font-weight: 500
            p
                padding-bottom: 15px
            a
                color: colors.$brandContrast
                text-decoration: none

